:root {
  --custom-gradient: linear-gradient(
    90deg,
    rgba(254, 132, 43, 0.75) 0%,
    rgba(252, 227, 184, 0.88) 4%,
    rgba(255, 255, 255, 1) 9%,
    rgba(255, 255, 255, 1) 92%,
    rgba(252, 227, 184, 0.87) 96%,
    rgba(254, 132, 43, 0.75) 100%
  );
}
